<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <form>
      <div class="form-group" id="error-box">

      </div>
      <div class="form-group">
        <label for="username">Username</label>
        {{input type="text" class="form-control myInput" focus-out="checkUser" disabled="true"  id="username" value=model.username }}
      </div>
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" value={{model.firstName}} disabled >
      </div>
      <div class="form-group">
        <label for="lastname">LastName</label>
        <input type="text" class="form-control" id="lastname" value={{model.lastName}} disabled>
      </div>
      <div class="form-group">
        <label for="email">MailID</label>
        {{input type="email" focus-out="checkMail" disabled="true" class="form-control" id="email" value=model.emailId }}
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="number" class="form-control" id="mobile" value={{model.mobileNo}} disabled>
      </div>
    </form>
  </div>
  <div class="col-md-4">

  </div>
</div>
{{outlet}}
